<h1>Editing composer</h1>

<% form_for(@composer) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @composer %> |
<%= link_to 'Back', composers_path %>