<h1>New performance</h1>

<% form_for(@performance) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :composer %><br />
    <%= f.text_field :composer %>
  </p>
  <p>
    <%= f.label :work_title %><br />
    <%= f.text_field :work_title %>
  </p>
  <p>
    <%= f.label :orchestra %><br />
    <%= f.text_field :orchestra %>
  </p>
  <p>
    <%= f.label :perform_date %><br />
    <%= f.date_select :perform_date %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', performances_path %>