<h1>Performance Entry</h1>

<% form_for(@performance) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :composer_id %><br>
    <%= f.select(:composer_id, Composer.all.collect {|c| [ c.name, c.id ] }, { :include_blank => true }) %>
  </p>
  <p>
    <%= f.label :work_title %><br />
    <%= f.text_field :work_title %>
  </p>
  <p>
    <%= f.label :orchestra %><br />
    <%= f.text_field :orchestra %>
  </p>
  <p>
    <%= f.label :perform_date %><br />
    <%= f.date_select :perform_date %>
  </p>
  <p>
    <%= f.submit 'Add' %>
  </p>
<% end %>

<%= link_to 'Back', performances_path %>